 /* 嘴巴 */
 .mouth-wrap {
    position: absolute;
    top: 168px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    height: 20px;
    overflow: hidden;
}
.mouth {
    width: 40px;
    height: 40px;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
    border-radius: 0% 40% 50% 20%;
    margin-top: -26px;
    position: absolute;
    left: 0;
    transition: all ease-in-out 1s;
    
}
.mouth-wrap .right {
    border-bottom: 4px solid #000;
    border-right: none;
    border-left: 4px solid #000;
    border-radius: 40% 0% 20% 50%;
    position: absolute;
    left: auto;
    right: 0;
}